.table {
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #4c8baf;
  color: white;
}

.edit {
  transition-duration: 0.4s;
  border: 4px solid #4c8baf;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
}
.delete {
  transition-duration: 0.4s;
  border: 4px solid #4c8baf;
  background-color: white;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 3px;
}
.edit:hover {
  background-color: #21aa0f;
  border: 4px solid #21aa0f;
  color: white;
}

.delete:hover {
  background-color: #bd1d1d;
  border: 4px solid #bd1d1d;
  color: white;
}

.add-btn a {
  display: block;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  color: #000;
  border: 15px solid #4c8baf;
  background-color: #4c8baf;
  border-radius: 25px;
  margin-top: -60px;
}

.formdiv {
  padding: 150px;
  background-color: #4c8baf;
}

.form-group {
  text-align: center;
}

.btn-success {
  text-align: center;
  height: 20px;
  width: 100px;
  margin: -20px -50px;
  position: relative;
  left: 50%;
  top: 50px;
  background-color: rgb(100, 237, 168);
  border: rgb(100, 237, 168);
  border-radius: 25px;
}

.addtask {
  text-align: center;
  padding: 25px;
}

.editdelete {
  background-color: #4c8baf;
  padding-bottom: 120px;
}

.edit-form {
  text-align: center;
}

.btnedit {
  text-align: center;
  height: 20px;
  width: 100px;
  background-color: rgb(100, 237, 168);
  border: rgb(100, 237, 168);
  border-radius: 25px;
  margin-left: 50px;
}

.btndelete {
  text-align: center;
  height: 20px;
  width: 100px;
  background-color: rgb(100, 237, 168);
  border: rgb(100, 237, 168);
  border-radius: 25px;
}

.btnedit,
.btndelete {
  margin-top: 100px;
}

.btnedit:hover {
  background-color: #bd1d1d;
  border: 4px solid #bd1d1d;
  color: white;
  text-align: center;
}

.btndelete:hover {
  background-color: #bd1d1d;
  border: 4px solid #bd1d1d;
  color: white;
  text-align: center;
}
.h1updatedelete {
  text-align: center;
  padding: 35px;
}

.coverimg {
  width: 100%;
  position: relative;
}

.loginform {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.header {
  width: 150px;
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  margin: auto;
}

.submitlogin {
  width: 60px;
  transition-duration: 0.4s;
  border: 4px solid #4c8baf;
  background-color: #4c8baf;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 10px;
}
